@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
* { margin:0; padding:0; box-sizing:border-box; }
body {
/*	background-color: #F5F5F5;*/
	background-color: #fff;
	color: #4d4d4d;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: 300;
}
section {
	float:left;
	width:50%;
}
h1 {
/*	font-family: 'Alfa Slab One', cursive;
	border-style: groove;
	border-collapse: collapse;*/
	font-family: 'Alfa Slab One', cursive;
	font-size: 2em;
	color: #1C688A;
	text-align: center;
	/*margin-left: auto;
	margin-right: auto;	*/
	border-bottom: groove;
	/*margin-top: 100px;*/
	margin-bottom: 100px;
/*	margin-right: 260px;
	margin-left: 350px;*/
}
h2 {
	font-family: georgia, serif;
	text-transform: capitalize;
	font-style: oblique;
}
p {
	text-align: justify;
	background-color: #E8E8E8;
	text-align: auto;
	margin: auto;
	padding: 0.5em 3em;
}

ul{
	list-style-type: circle;
	font-size: 1.2em;
	font-family:'Palatino Linotype', georgia, serif;
	line-height: 150%;
}
.img_agile {
	width:100%;
	padding: 2em;
}
#slogan {  /* id to put slogan in italic of the page*/
	/*text-align: justify;*/
	font-style: oblique;
	font-size: 18px;
	text-decoration: underline;
	text-transform: capitalize;
	margin-left: 200px;
	margin-right: 200px;
}
