@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(https://fonts.googleapis.com/css?family=Lora);
* { margin:0; padding:0; box-sizing:border-box; } /* THIS A RESET */
html{
	background-color: ##FCFFF5;
}
body {
/*	background-color: #fff;
*/	color: #4d4d4d;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: 300;
}
/*section {
	float:left;
	margin: 4% 0 0 0;
 }*/
h1 {
	font-family: 'Alfa Slab One', cursive;
	font-size: 2em;
	color: #3E606F;
	text-align: center;
	border-bottom: groove;
	margin: 1em 0em 0em 0em;
	}

.servicesD {
    overflow: auto;
    padding: 2em 3em 0em 1em;
    text-align: justify;
    line-height: 2em;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

nav {
  background-color: #3E606F;
  font-family: Arial, sans-serif;
   /*put in my media query that if the screen 
              is maximum of 450px te left it should be 13% ILL-comment*/ 
  	width: 50%;
    margin: auto;
    padding: .5em;
     text-align: center;
  }
h2 {
	font-family: georgia, serif;
    font-style: oblique;
    font-size: 1em;
    text-align: center;
    margin: 1em;
}
.title a{
    font-size: 23px;
    text-align: center;
    margin: 1em 1em 1em 1em;
 }

a {
  background-color: #3E606F;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}
 nav a:hover {
  background-color: #aaaaaa;
} 

p {
 /*	font-family: 'Lora', georgia, serif; */	
	font-family:'Palatino Linotype', georgia, serif;
	text-align: justify;
	margin: auto;
	padding: 0.5em 3em;
}

.column p:first-letter {
	font-size: 2em;
}

ul{
	list-style-type: circle;
	font-size: 16px;
	font-family:'Palatino Linotype', georgia, serif;
	line-height: 150%;
	margin-left: 30px;
}

.imagesHP {
	width: 70%;
    margin: 0 0 1em 5em;
    border-style: solid;
}
 .imageServ {
	width: 20%;
    margin: 0 3em 0em 1em;
    float: left;
}
.column {
	float: left;
    width: 45%;
    margin: 3.4em .2em 0 1.4em;
}

#navcolor {
	color:white;
	text-align: center;
	first:first-letter:none;
	background-color:  #3E606F;
	font-size: 1em;
	  margin: 10% 0 0 0;
}
/*footer {
	  background: #3E606F;
	  text-align: center;
	  font-size: 1em;
	  margin: 10% 0 0 0;
  }*/

  .divServ {/*This is for the services pages*/
	  	float: left;
	    margin: 4% 0 0 0;
	    font-size: 1.4em
 }
@media only screen and (max-width: 480px) {
  h1, nav {
 			display: inline; 
             text-align: center; 
  	}
	  nav a {
	  	margin: 0 1em 1em;
	  	float: none;
	  }
	  img {
	  	width: 230px;
	  }
	   div {
	  	width: 100%; 
	    padding: .6em;
	 	 }
  		.column {
	  	float: none;
	   	margin: 0;
		width: 100%;
	   	background-color: #E3EDF1;
	  }
  	  h2 {
	  	font-size: 1em;
	    display: inline;
	  }
	  p, {
	  	margin: 1.8em .6em 0;
	  	clear: both;
	   }
}

/*@media not "@media only screen and (max-width: 480px)" {
	a:hover {
  background-color: #aaaaaa;
  padding: 1.5em;
}}*/
 @media only screen and (max-width: 768px) {
  h1, nav {
 			display: inline; 
             text-align: center; 
  	}
	  nav a {
	  	margin: 0 1em 1em;
	  	float: none;
	  }
	  img {
	  	width: 230px;
	  }
	   div {
	  	width: 100%; 
	    padding: .6em;
	 	 }
  		.column {
	  	float: none;
	   	margin: 0;
		width: 100%;
	   	background-color: #E3EDF1;
	  }
  	  h2 {
	  	font-size: 1em;
	    display: inline;
	  }
	  p, {
	  	margin: 1.8em .6em 0;
	  	clear: both;
	   }
	   footer {
	   		background-color: gray;
	   }
}

